<%= render "header" %>
  <div class="center">
  
    <%# 検索　あとで入れる %>
  

  <div class="center-wrapper">
    

        <div class="store-box">
          <div class="store-image">
            

          </div>
          <div class="store-infos">
            <div class="name-store">
              <%=  %>
            </div>
            <ul>
              <li class="store-info">カテゴリー：
                <%=  %> 
              </li>
              <li class="store-info">営業時間：
                <%=  %> 
              </li>
              <li class="store-info">予算：
                <%=  %>  
              </li>
            </ul>
          </div>
        </div>

  </div>
  </div>

<footer>
&copy; 2020 izakaya.com
</footer>