<%= render "header" %>

<div class="center">
  <div class="store-wrapper">

    <div class="showing showing-show">
      <div class="show-infos">
        <div class="show-info-name">
          <%=  %>
        </div>
        
          <div class="show-info">
            住所：まだ記載されていません
          </div>
          <div class="show-info">
            営業時間：まだ記載されていません
          </div>
          <div class="show-info">
            電話番号：まだ記載されていません
          </div>
          <div class="show-info">
            カテゴリー：まだ記載されていません
          </div>
          <div class="show-info">
            予算：まだ記載されていません
          </div>
        　
          
            <div class="button-right show-button">
              <%= link_to '作成', , method: :get %> 
            </div>
          

          
          <div class="show-info-address show-info">
            住所：<%=  %>
          </div>
          <div class="show-info-hour show-info">
            営業時間：<%=  %> 
          </div>
          <div class="show-info-tel show-info">
            電話番号：<%=  %>
          </div>
          <div class="show-info-genre show-info">
            カテゴリー：<%=  %>
          </div>
          <div class="show-info-budget show-info">
            予算：<%=  %>
          </div>
          

            <div class="button-right show-button">
              <%= link_to '編集', , method: :get %>
            </div>
        
          </div> 
          <%= image_tag  , class: "show-image" %>
        
        
    </div>
  </div>
  </div>
</div>

<footer>
  &copy; 2020 izakaya.com
</footer>
